{% extends "layout.html" %}


{% block header %}
{% endblock header %}


{% block header_tag %}
<h1 class="d-flex align-items-center text-white fw-bolder my-1 fs-3">Dashboard
    <span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>
</h1>
{% endblock header_tag %}

{% block nav_tag %}
<div class="menu-item">
    <a class="menu-link" href="{{url_for('admin.dashboard')}}">
        <span class="menu-icon">
            <i class="bi bi-house fs-3 text-white"></i>
        </span>
        <span class="menu-title text-white">Dashboard</span>
    </a>
    <a class="menu-link active" href="{{url_for('admin.profile')}}">
        <span class="menu-icon">
            <i class="fa-solid fa-user"></i>
        </span>
        <span class="menu-title">Profile</span>
    </a>
    <a class="menu-link" href="{{url_for('admin.general_statistics')}}">
        <span class="menu-icon">
            <i class="fa-solid fa-user"></i>
        </span>
        <span class="menu-title">General Statistics</span>
    </a>
    <a class="menu-link" href="{{url_for('auth.logout')}}">
        <span class="menu-icon">
            <i class="fa-solid fa-ranking-star"></i>
        </span>
        <span class="menu-title">Logout</span>
    </a>
</div>
{% endblock nav_tag %}

{% block content %}
<div style="width: 54%;" class="container">
    <div class="fv-row d-flex-justify-content-center align-items-center px-20">
        <div style="background-color: rgb(20, 20, 20);border-radius: 7px;"
            class="col-md d-flex justify-content-center align-items-center py-6">
            <div style="background-color: rgb(20, 20, 20);" class="card">
                <div class="row d-flex-justify-content-center align-items-center">
                    <div class="col-md">
                        <img height="130px" class="rounded-circle"
                            src="{{url_for('static', filename='assets/media/cyberpathlogos/logo-light.svg')}}">
                    </div>
                    <div style="font-family: Source Sans Pro,sans-serif!important;" class="col-md text-white">
                        <p style="color:rgb(185, 185, 185);" class="card-text m-1">PERSONAL DETAILS</p>
                        <p class="card-text m-1">Admin Admin</p>
                        <p class="card-text fw-bolder m-1">admin@gmail.com</p>
                    </div>
                </div>
                <div style="background-color:rgb(30, 30, 30);border-radius: 7px;font-family: Source Sans Pro,sans-serif!important;"
                    class="row p-3 mt-5">
                    <div class="col-md text-white mt-2">
                        <p style="color: rgb(185, 185, 185);" class="card-text m-1">CREDIT DETAILS</p>
                        <p class="card-text m-1">Allocated: 7682 Hours</p>
                        <p class="card-text m-1">Used: 7529 Hours</p>
                    </div>
                    <div style="width: 240px;" class="col-md text-white d-flex align-items-center mt-2">
                        <p class="text-center">Remaining: 153.00 Hours</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}

{% endblock scripts %}